$backgroundColor: #000080;
$secondaryBackgroundColor: #FFEFD5;
$fontColor: #f3f1f1;
$secondaryFontColor: #043504;
$primaryColor: #15d9f3;
$transparentBackgroundColor: rgba(255, 255, 255, 0.4);
$transparentBackgroundHoverColor: rgba(255, 255, 255, 0.596);
$disabledBackgroundColor: rgb(255, 250, 250);
$hangUpBackgroundColor: #f01400;
$userNoVideoColor: #ccc;
